body {
    margin: 0;
    height: 100vh;
    background: url("backindex.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 192, 203, 0.6);
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: pink;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: hotpink;
    color: white;
}

.hint {
    display: none;
    margin-top: 20px;
}

.hint img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* чтобы фото красиво вписывалось */
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px pink;
}


